<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Path Audit</title>
    <script>
      function editPath(endpoint){
        let endpointWin = window.open(`/dev/path_audit/edit/${endpoint}`, "Edit Endpoint Perms", "width=800,height=600");
        endpointWin.callback = () => {
          location.reload()
        }

      }
    </script>
  </head>
  <body>
    {% include "navbar.liquid" %}
    <article>
      <div class="grid">
        <div class="box">
          <table>
            <tr>
              <th>Path Perm Seq</th>
              <th>Plugin Name</th>
              <th>Path Endpoint Name</th>
              <th>Permission Name</th>
              <th>Admin Permission</th>
              <th>Edit</th>
            </tr>
            {% for path in paths %}
              <tr>
                <td>{{ rules[path]['seq'] }}</td>
                <td>{{ rules[path]['plugin_name'] }}</td>
                <td>{{ path }}</td>
                <td>{{ rules[path]['pathperm'] }}</td>
                <td>{{ rules[path]['adminperm'] }}</td>
                <td><button onclick="editPath('{{ path }}')"><i class="fa-solid fa-file-pen"></i></button></td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </article>
    {% include "footer.liquid" %}
  </body>
</html>