<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Preferences</title>
  </head>
  <body>
    {% include 'navbar.liquid' %}
    <article>
      <h1>User Preferences</h1>
      <div class="grid2x2">
        <div class="box">
          <h2>General Info</h2>
          <form action="/user/preferences/general/{{user.seq}}" method="POST">
            <label for="fName">Name:
            </label>
            <input
              type="text"
              name="fName"
              id="fName"
              value="{{user.first_name}}"><input
              type="text"
              name="lName"
              id="lName"
              value="{{user.last_name}}">
            <br>
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              value="{{user.email}}">
            <br>
            <label for="title">Title</label>
            <select name="title" id="title">
              {% assign found_title = false %}
              {% for title in titles %}
                {% if title.title_desc == user.title %}
                  {% assign found_title = true %}
                  <option value="{{title.seq}}" selected>{{ title.title_desc }}</option>
                {% else %}
                  <option value="{{title.seq}}">{{ title.title_desc }}</option>

                {% endif %}
              {% endfor %}
              {% if found_title != true %}
                <option value="_">{{ user.title }}</option>
              {% endif %}
            </select>
            <br>
            <input type="submit" value="Update">
          </form>
        </div>
        <div class="box">
          <h2>User Security</h2>
        </div>
        <div class="box">
          <h2>General Info</h2>
        </div>
        <div class="box">
          <h2>User Audit</h2>
        </div>
      </div>
      {{ user }}
    </article>
    {% include 'footer.liquid' %}
  </body>
</html>