<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ config.sys_name }}</title>
  <link rel="stylesheet" href="/static/themes/{{ user.theme }}.css">
  <link rel="stylesheet" href="/static/themes/theme_structure.css">
</head>

<body>
  <div class="navbar">
    <a href="/">Home</a>
    {% if user.permissions.doc_view or user.permissions.doc_edit or user.permissions.doc_admin %}
      <div class="dropdown">
        <button class="dropbtn">Docket
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          {% if user.permissions.doc_view or user.permissions.doc_admin %}
            <a href="/docket/">View Docket</a>
          {% endif %}
          {% if user.permissions.doc_edit or user.permissions.doc_admin %}
            <a href="/docket/new">Create Docket Item</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if user.permissions.fin_view or user.permissions.fin_edit or user.permissions.fin_admin %}
      <div class="dropdown">
        <button class="dropbtn">Finances
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          {% if user.permissions.doc_view or user.permissions.doc_admin %}
            <a href="/docket/">View Finances</a>
          {% endif %}
          {% if user.permissions.doc_edit or user.permissions.doc_admin %}
            <a href="/docket/new">Create Finance Item</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% assign doc_dash_len = doc_dash | size %}
    {% if doc_dash_len > 0 %}
      <div class="dropdown">
        <button class="dropbtn">Docket Dashboards
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          {% for dash in doc_dash %}
            <a href="/docket/dash/{{dash}}">{{ dash }}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="dropdown">
      <button class="dropbtn">User
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        {% if user.isLoggedIn %}
          <a>{{ user.first_name }} {{ user.last_name }}</a>
          <a href="/auth/logout/">Logout</a>
          <a href="/user/settings/">Settings</a>
        {% else %}
          <a href="/auth/login/">Log In</a>
          <a href="/auth/create">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</body>