<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/46bfd90bcf.js" crossorigin="anonymous"></script>
    {% if user.theme != nil %}
      <link rel="stylesheet" href="/static/theme/{{user.theme}}.css">
    {% else %}
      <link rel="stylesheet" href="/static/theme/1.css">
    {% endif %}
    <link rel="stylesheet" href="/static/theme/structure.css">
  </head>
  <body>
    <div class="nav_div">
      <ul id="nav_ul">
        <li class="parent">
          <a href="#">Home</a>
        </li>
        <li class="parent">
          <a href="#">Quick Links</a>
          <ul class="child">
            {% for link in quick_links %}
              <li class="parent">
                <a href="{{link.link}}">{{ link.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li class="parent">
          <a href="#">Finances</a>
          <ul class="child">
            <li class="parent">
              <a href="URL">View All Records</a>
            </li>
            <li class="parent">
              <a href="URL">New Record</a>
            </li>
            <li class="parent">
              <a href="URL">Administrate Finances</a>
            </li>
            {% assign fin_dash_len = finance_dashboards | size %}
            {% if fin_dash_len > 0 %}
              <li class="parent">
                <a href="#">Dashboards<span class="expand">&raquo;</span>
                </a>
                <ul class="child">
                  {% for dash in finance_dashboards %}
                    <li>
                      <a href="/finance/dashboards/{{dash.seq}}">{{ dash.name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          </ul>
        </li>
        <li class="parent">
          <a href="#">Docket</a>
          <ul class="child">
            <li>
              <a href="http://kb">View All Records</a>
            </li>
            <li>
              <a href="http:/">Create a Docket</a>
            </li>
            <li class="parent">
              <a href="http:">Administrate Docket</a>
            </li>
            {% assign doc_dash_len = docket_dashboards | size %}
            {% if doc_dash_len > 0 %}
              <li class="parent">
                <a href="#">Dashboards<span class="expand">&raquo;</span>
                </a>
                <ul class="child">
                  <li>
                    <a href="inventory">Inventory Report</a>
                  </li>
                  <li>
                    <a href="sales.">Sales Report</a>
                  </li>
                  <li>
                    <a href="quotes">Quotes Report</a>
                  </li>
                  <li>User
                    <a href="workOrder">Work Order Report</a>
                  </li>
                  <li>
                    <a href="prtUsed">Part Where Used Report</a>
                  </li>
                </ul>
              </li>
            {% endif %}
          </ul>
        </li>
        <li class="parent">
          <a href="#">About</a>
          <ul class="child">
            <li>
              <a href="http://">Officers</a>
            </li>
            <li>
              <a href="http:/">System Information</a>
            </li>
          </ul>
        </li>

        <li class="parent">
          <a href="">Development</a>
        </li>
        <li class="parent right">
          <a href="#">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="child">
            {% if isLoggedIn %}
              <li>
                <a>{{ user.first_name }} {{ user.last_name }}</a>
              </li>
              <li>
                <a href="/auth/logout">Logout</a>
              </li>

            {% else %}
              <li>
                <a href="/auth/login">Log In</a>
              </li>
              <li>
                <a href="/auth/register">Register</a>
              </li>
            {% endif %}
            <li class="parent"></li>
          </ul>
        </li>

      </ul>
    </div>
  </body>
</html>