<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/46bfd90bcf.js" crossorigin="anonymous"></script>
    {% if user.theme != nil %}
      <link rel="stylesheet" href="/static/theme/{{user.theme}}.css">
    {% else %}
      <link rel="stylesheet" href="/static/theme/1.css">
    {% endif %}
    <link rel="stylesheet" href="/static/theme/structure.css">
  </head>
  <body>
    <div class="nav_div">
      <ul id="nav_ul">
        <li class="parent">
          <a href="/">Home</a>
        </li>
        <li class="parent">
          <a href="#">Quick Links</a>
          <ul class="child">
            {% for link in quick_links %}
              <li class="parent">
                <a href="{{link.link}}" target="_blank">{{ link.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% if perms.doc_view == 1 or perms.doc_add == 1 or perms.doc_edit == 1 or perms.doc_admin == 1 or perms.doc_query %}
          <li class="parent">
            <a href="#">Docket</a>
            <ul class="child">
              {% if perms.doc_view == 1 or perms.doc_admin == 1 %}
                <li>
                  <a href="/doc/view">View All Records</a>
                </li>
              {% endif %}
              {% if perms.doc_edit == 1 or perms.doc_admin == 1 %}
                <li>
                  <a href="/doc/create">Create a Docket</a>
                </li>
              {% endif %}
              {% if perms.doc_admin == 1 %}
                <li>
                  <a href="/doc/admin">Administrate Docket</a>
                </li>
              {% endif %}
              {% if perms.doc_query == 1 or perms.doc_admin %}
                <li>
                  <a href="/doc/query">Query Docket</a>
                </li>
              {% endif %}
              {% assign doc_dash_len = docket_dashboards | size %}
              {% if doc_dash_len > 0 %}
                <li class="parent">
                  <a href="#">Dashboards<span class="expand">&raquo;</span>
                  </a>
                  <ul class="child">
                    {% for dash in docket_dashboards %}
                      <li>
                        <a href="/doc/dash?dash={{dash.seq}}">{{ dash.dash_name }}</a>
                      </li>
                    {% endfor %}


                  </ul>
                </li>
              {% endif %}
            </ul>
          </li>
        {% endif %}
        {% if perms.fin_view == 1 or perms.fin_add == 1 or perms.fin_edit == 1 or perms.fin_admin == 1 or perms.fin_query %}
          <li class="parent">
            <a href="#">Finances</a>
            <ul class="child">
              {% if perms.fin_admin == 1 or perms.fin_view == 1 %}
                <li class="parent">
                  <a href="/finances/">View All Records</a>
                </li>
              {% endif %}
              {% if perms.fin_admin == 1 or perms.fin_add == 1 %}
                <li class="parent">
                  <a href="URL">New Record</a>
                </li>
              {% endif %}
              {% if perms.fin_admin == 1 %}
                <li class="parent">
                  <a href="URL">Administrate Finances</a>
                </li>
              {% endif %}

              {% if perms.fin_admin == 1 or perms.fin_query == 1 %}
                <li class="parent">
                  <a href="URL">Query Finances</a>
                </li>
              {% endif %}

              {% assign fin_dash_len = finance_dashboards | size %}
              {% if fin_dash_len > 0 %}
                <li class="parent">
                  <a href="#">Dashboards<span class="expand">&raquo;</span>
                  </a>
                  <ul class="child">
                    {% for dash in finance_dashboards %}
                      <li>
                        <a href="/finance/dashboards/{{dash.seq}}">{{ dash.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            </ul>
          </li>
        {% endif %}
        <li class="parent">
          <a href="#">About</a>
          <ul class="child">
            <li>
              <a href="/about/officers">Officers</a>
            </li>
            <li>
              <a href="http:/">System Information</a>
            </li>
          </ul>
        </li>
        {% if perms.dev_edit == 1 or perms.dev_read == 1 %}

          <li class="parent">
            <a href="">Development</a>
          </li>
        {% endif %}
        <li class="parent right">
          <a href="#">
            {% if isLoggedIn %}
              {{ user.first_name }} {{ user.last_name }}
              <i class="fa-solid fa-user" style="padding-left:5px"></i>
            {% else %}
              <i class="fa-solid fa-user"></i>

            {% endif %}

          </a>
          <ul class="child">
            {% if isLoggedIn %}
              <li>
                <a href="/auth/logout">Logout</a>
              </li>
              <li>
                <a href="/user/preferences">Settings</a>
              </li>

            {% else %}
              <li>
                <a href="/auth/login">Log In</a>
              </li>
              <li>
                <a href="/auth/register">Register</a>
              </li>
            {% endif %}
            <li class="parent"></li>
          </ul>
        </li>

      </ul>
    </div>
  </body>
</html>
