<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>

    <style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
  </style>
      <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



  </head>
  <body>
    {% include "navbar.liquid" %}

    <table style="width: 100%">
      <tr>
        <th>Vendor Name</th>
        <th>Vendor Status</th>
        <th>Edit</th>
        <th>Item Name</th>
        <th>Displayed</th>
        <th>Item Actions</th>
        <th>Price</th>
        <th>Eff Date</th>
      </tr>
      {% assign vend_size = data | size %}
      {% for vendor in (0..vend_size) %}
        {% assign item_size = data[vendor].items | size %}
        {% if item_size == 0 %}
          {% continue %}
        {% endif %}
        {% for item in (0..item_size) %}
            {% assign price_size = data[vendor].items[item].prices | size | minus: 1 %}

          {% for price in (0..price_size) %}
            <tr>
              {% if item == 0 and price == 0 %}
                <td rowspan="{{ data[vendor].count }}">{{ data[vendor].name }}</td>
                <td rowspan="{{ data[vendor].count }}">{{ data[vendor].status }}</td>
                <td rowspan="{{ data[vendor].count }}"><button class="editVend" value="{{ data[vendor].name }}">Edit</button></td>
              {% endif %}
              {% if price == 0 %}
                <td rowspan="{{ data[vendor].items[item].count }}">{{ data[vendor].items[item].item_name }}</td>
                <td rowspan="{{ data[vendor].items[item].count }}">{{ data[vendor].items[item].displayed }}</td>
                <td rowspan="{{ data[vendor].items[item].count }}"><button class="editItem" value="{{ data[vendor].items[item].seq }}">Edit</button><button class="editPrice" value="{{ data[vendor].items[item].seq }}">New Price</button></td>
              {% endif %}
              <td>{{ data[vendor].items[item].prices[price].price }}</td>
              <td>{{ data[vendor].items[item].prices[price].eff_date }}</td>

            </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
        <tr>
            <td colspan="3"><button class="newVendor">New Vendor</button></td>
            <td colspan="3"><button class="newItem">New Item</button></td>
            <td colspan="3"></td>
        </tr>
    </table>


    {% include "modals/item_new.liquid" %}
    {% include "modals/item_cost.liquid" %}
    {% include "modals/item_edit.liquid" %}
    {% include "modals/vendor_new.liquid" %}
    {% include "modals/vendor_edit.liquid" %}
    {% include "footer.liquid" %}

  </body>
</html>