<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Finances</title>
    <script>
      function viewRecord(seq){
        window.open(`/finances/view/${seq}`, '_blank')
      }
      function editRecord(seq){
        window.open(`/finances/edit/${seq}`, '_blank')
      }
    </script>
  </head>
  <body>
    {% include "navbar.liquid" %}
    <article>
      <div class="grid">
        <div class="box">
          <table>
            <tr>
              <th style="text-align: center;">ID</th>
              <th style="text-align: center;">Record Date</th>
              <th style="text-align: center;">Creator</th>
              <th style="text-align: center;">Approver</th>
              <th style="text-align: center;">Status</th>
              <th style="text-align: center;">Type</th>
              <th style="text-align: center;">Balance</th>
              <th style="text-align: center;">Actions</th>
            </tr>
            {% for row in records %}
              <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.inv_date }}</td>
                <td>{{ row.CreatedBy }}</td>
                <td>{{ row.ApprovedBy }}</td>
                <td>{{ row.stat_desc }}</td>
                <td>{{ row.type_desc }}</td>
                <td>{{ row.Total }}</td>
                <td>
                  <button onclick="viewRecord({{ row.seq }})">View</button>
                  <button onclick="editRecord({{ row.seq }})">Edit</button>
                </td>

              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </article>
    {% include "footer.liquid" %}
  </body>
</html>