<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docket Records</title>
  </head>
  <body>
    {% render "navbar.liquid" %}
    <article>
      <div class="grid noVertStretch">
        <div class="box">
          <table>
            <tr>
              <th class="centText">Title</th>
              <th class="centText">Creator</th>
              <th class="centText">Status</th>
              <th class="centText">Date Time Added</th>
              <th class="centText">Actions</th>
            </tr>
            {% for row in results %}
              <tr>
                <td>{{ row.docket_title }}</td>
                <td>{{ row.creator }}</td>
                <td>{{ row.status }}</td>
                <td>{{ row.added_dt }}</td>
                <td class="actions">
                  <a href="/doc/view/{{row.seq}}">View</a>
                  {% if row.status == 'In Vote' %}
                    <a href="/doc/vote/{{row.seq}}">Vote</a>
                  {% endif %}
                  {% if perms.doc_del %}
                    <a href="/doc/del/{{row.seq}}">Delete</a>
                  {% endif %}
                  {% if perms.doc_admin == 1 or user.seq == row.creator_seq %}
                    <a href="/doc/edit/{{row.seq}}">Edit</a>

                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </article>
    {% render "footer.liquid" %}
  </body>
</html>