<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docket Records</title>
    <link rel="stylesheet" href="/static/css/textBubbles.css">
    <script>

      let textFromFileLoaded

      function loadData() {
            let file = document.getElementById("file").files[0];
            if(file.name.length > 50){
              alert("File name is too long! Cannot exceed 50 characters!")
              document.getElementById('file').value = ''
            }
            let reader = new FileReader();
            reader.onload = function(fileLoadedEvent) {
                let bufferData = fileLoadedEvent.target.result;

                textFromFileLoaded = btoa(BinaryToString(String.fromCharCode.apply(null, Array.prototype.slice.apply(new Uint8Array(bufferData)))))
            };

            reader.readAsArrayBuffer(file);
            return textFromFileLoaded
        }

        function BinaryToString(binary) {
            var error;

            try {
                return decodeURIComponent(escape(binary));
            } catch (_error) {
                error = _error;
                if (error instanceof URIError) {
                    return binary;
                } else {
                    throw error;
                }
            }
        }

        function sendFile(){
            file_data = textFromFileLoaded
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/doc/attach/{{ doc.docket.seq }}");
            xhr.setRequestHeader("Content-Type", "application/json");
            let post_data = {
                "file_name": document.getElementById("file").files[0].name,
                "file_data": btoa(file_data)
            }
            xhr.send(JSON.stringify(post_data));
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    location.reload();
                } else if (xhr.readyState == 4) {
                    alert(xhr.response)
                }
            }
        }

    </script>
  </head>
  <body>
    {% include "navbar.liquid" %}
    <article>
      <div class="grid2x2 revrow">

        <div class="box noHorrizStretch" style="min-height: 50%;">
          <h2>Assigned Users</h2>
          <div>
            <table style="width: 30%">
              <tr>
                <th>Name</th>
              </tr>
              {% for assn_user in doc.assign %}
                <tr>
                  <td>{{ assn_user.name }}
                    {% if assn_user.seq == user.seq %}
                      [You]
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>

        <div class="box">
          <h1>Viewing Docket ID {{ doc.docket.seq }}</h1>
          <h4>Created By: {{ doc.docket.creator }}, on {{ doc.docket.added_dt }}</h4>
          <h3>Title:</h3>
          <h4>{{ doc.docket.docket_title }}</h4>
          <h3>Status: {{ doc.docket.status }}</h3>
          <h3>Vote Type: {{ doc.docket.vote_desc }}</h3>
          <h3>Body:</h3>
          <pre id="bodyBlock">{{ doc.docket.docket_desc }}</pre>
          {% if can_user_edit %}
            <button onclick="window.open('/doc/edit/{{doc.docket.seq}}')">Edit</button>
          {% endif %}
        </div>
        <div class="box" style="overflow: auto; max-height: 50%;">
          <h2>Conversations</h2>

          {% for conv in doc.conv %}

            <div class="bubble {% if conv.creator == user.seq %}right{% else %}left{% endif %}">
              <p>
                {{ conv.body }}
                <br>

                &mdash;{{ conv.name }}</p>
            </div>
          {% endfor %}
          <form method="POST" action="/doc/conv/add?seq={{doc.docket.seq}}">
            <div class="bubble right">
              <textarea
                class="backAccent"
                name="convBody"
                id="convBody"></textarea>
              <input
                type="submit"
                value="Post"
                class="backAccent border">

            </div>
          </form>
        </div>
        <div class="box">
          <h2>Attachments</h2>
          <table>
            <tr>
              <th>File Name</th>
              <th>View</th>
            </tr>
            {% for attach in attachments %}
              <tr>
                <td>{{ attach.name }}</td>
                <td>
                  <a href="/doc/attach/{{attach.seq}}">View</a>
                </td>
              </tr>
            {% endfor %}
          </table>
          <input
            type="file"
            name="file"
            id="file"
            onchange="loadData()">
          <button onclick="sendFile()">Upload Attachment</button>
        </div>
      </div>
    </article>
    {% include "footer.liquid" %}
  </body>
</html>